<div class="grid grid-cols-12">
    <app-lateral-menu class="col-span-2"></app-lateral-menu>
    <div class="col-span-10 px-32 text-center background">
        <div class="bg-black w-full h-5 rounded"></div>
        <div class="bg-beish w-11/12 h-11/12 inline-block border border-gray drop-shadow">
            <div class="bg-black w-2/3 h-5 rounded inline-block translate-y-[-5px]"></div>
            <div class="content">
                <app-loading *ngIf="isLoading;else content"></app-loading>
                <ng-template #content><router-outlet></router-outlet></ng-template>
            </div>
        </div>
    </div>
</div>