<div class="h-screen bg-yellow w-full px-5">
    <div class="pt-5">
        <img src="assets/tittle.png" alt="">
    </div>
    <div class="h-10"></div>
    <app-button text="Iniciar Simulación" icon="assets/firstbutton.png" class="inline-block w-full mb-5"></app-button>
    <app-button text="Iniciar Simulación" icon="assets/firstbutton.png" class="inline-block w-full mb-5"></app-button>
    <app-button text="Iniciar Simulación" icon="assets/firstbutton.png" class="inline-block w-full mb-5"></app-button>
</div>
