<div class="px-10 h-full relative">
  <h1 class="text-48 mt-5 font-w700">
    Bienvenido al Simulador de procesos de CPU
  </h1><br><br><br>
  <p class="text-30 font-w700 text-left">Consejo:</p>
  <p class="text-30 font-w300 text-left">Da click en iniciar la simulación para empezar</p>
  <footer class="absolute bottom-2 grid grid-cols-12">
    <img src="assets/man.png" class="w-56 col-span-2">
    <p class="col-span-2 flex items-center">Vamos a estudiar los procesos de la CPU</p>
    <div class="col-span-5"></div>
    <div class="col-span-3 relative">
        <img src="assets/uptc_logo.png" class="absolute bottom-5 right-10">
    </div>
  </footer>
</div>