<div class="px-10 text-right">
  <span class="text-30 font-w700"
    >Tiempo de reloj: <span class="text-orange">{{ actualClock }}</span></span
  >
</div>
<main class="px-10 mt-5">
  <div class="grid grid-cols-12 my-5">
    <p class="text-30 font-w700 text-center col-span-3">Cola de procesos</p>
    <div class="bg-black h-1 translate-y-5 col-span-9"></div>
  </div>
  <div class="h-32 overflow-auto mb-10">
    <app-card color="white h-72 w-full p-2 grid gap-2 grid-cols-12">
      <app-card color="beish3" *ngFor="let process of readyQueue">
        <p>
          <b>PID_{{ process.id }}</b>
        </p>
        <br />
        <p>{{ process.size }} MB</p>
      </app-card>
    </app-card>
  </div>
  <div class="grid grid-cols-12 my-5">
    <p class="text-30 font-w700 text-center col-span-3">Memoria ({{ 3 }})</p>
    <div class="bg-black h-1 translate-y-5 col-span-9"></div>
  </div>
  <div class="h-[400px] overflow-auto mb-10">
    <app-card color="white w-full p-2 grid grid-cols-12 gap-2">
      <app-card
        [color]="process.free ? 'green2' : 'beish2'"
        *ngFor="let process of memory"
        class="col-span-2 h-48"
      >
        <div *ngIf="!process.free; else freeBlock" class="h-48">
          <p>
            <b>PID_{{ process.process.id }}</b>
          </p>
          <br />
          <p>lifeTime: {{ process.process.lifeTime }}</p>
          <p>timeToLive: {{ process.process.timeToLive }}</p>
          <p>status: {{ process.process.status }}</p>
          <p>{{ process.process.size }} MB</p>
        </div>
        <ng-template #freeBlock>
          <div class="h-48">
            <p><b>Free</b></p>
            <br />
            <p>{{ process.size }} MB</p>
          </div>
        </ng-template>
      </app-card>
    </app-card>
  </div>
  <div
    class="w-full flex items-center justify-center"
    *ngIf="isFinished; else notFinish"
  >
    <img
      src="assets/icons/arrow_left_icon.png"
      class="w-14 mr-5 cursor-pointer"
    />
    <p class="mx-5 text-28 font-w700">
      <input
        type="number"
        [value]="actualClock"
        min="0"
        [max]="totalTimes"
        (input)="getClock(input.value)"
        #input
        class="inline-block w-24 text-center rounded border"
      />
      de {{ totalTimes }}
    </p>
    <img
      src="assets/icons/arrow_right_icon.png"
      class="w-14 ml-5 cursor-pointer"
      (click)="nextClock()"
    />
  </div>
  <ng-template #notFinish>
    <p class="text-36 font-w700">Cargando ...</p>
  </ng-template>
</main>
