<div
  id="content"
  class="max-h-full w-full overflow-scroll rounded-md border border-gray"
>
  <table
    class="relative h-full w-full table-auto border-separate border-spacing-0"
  >
    <thead class="sticky top-0 z-10 bg-white">
      <tr class="divide-x divide-gray">
        <th
          *ngFor="let column of columns"
          class="border border-gray p-2 text-center"
        >
          <div class="flex">
            <div class="flex-1 text-14 font-w700 text-orange">{{ column }}</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!loading" class="text-center text-12 font-w400 text-black">
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
